[Unit]
Description=Run fstrim weekly

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
[Unit]
Description=Run fstrim weekly

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
