[Unit]
Description=Automated Security Updates

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'pacman -Syu && pacman -Qu | grep -Ff <(arch-audit -u | awk "{print \$1}") | xargs -r pacman -S --noconfirm'
